.DS_Store
node_modules/
/dist/
*-debug.log*
*-error.log*
/test/coverage/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# use this for any local files you want ignored, such as `experiment._ignored.js`
*._ignored*
